<p id="notice"><%= notice %></p>

<h1>Listing Fake Connnections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Sale count</th>
      <th>Refund count</th>
      <th>Scenario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fake_connnections.each do |fake_connnection| %>
      <tr>
        <td><%= fake_connnection.name %></td>
        <td><%= fake_connnection.state %></td>
        <td><%= fake_connnection.sale_count %></td>
        <td><%= fake_connnection.refund_count %></td>
        <td><%= fake_connnection.scenario %></td>
        <td><%= link_to 'Show', fake_connnection %></td>
        <td><%= link_to 'Edit', edit_fake_connnection_path(fake_connnection) %></td>
        <td><%= link_to 'Destroy', fake_connnection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fake connnection', new_fake_connnection_path %>
