<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @error.type %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @error.timestamp %>
</p>

<p>
  <strong>Message:</strong>
  <%= @error.message %>
</p>

<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>
